[package]
name = "hook"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.72"
patternsleuth_scanner = { git = "https://github.com/trumank/patternsleuth", version = "0.1.0" }
retour = { version = "0.3.1", features = ["static-detour"] }
winapi = "0.3.9"
windows = { version = "0.48.0", features = [
  "Win32_Foundation",
  "Win32_System_SystemServices",
  "Win32_UI_WindowsAndMessaging",
  "Win32_System_LibraryLoader",
  "Win32_System_Memory",
  "Win32_System_Threading",
  "Win32_Security",
  "Win32_System_ProcessStatus",
] }
