on: [push, pull_request]
name: Run checks

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install libgtk-3-dev gcc-mingw-w64

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy, rustfmt
          target: x86_64-pc-windows-gnu
          override: true

      - uses: actions-rs/clippy-check@v1
        name: Check clippy
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets -- -D warnings

      - name: Check rustfmt
        run: cargo fmt -- --check
